<%- include('header') %>
<div class="luckydraw-details">
    <div class="iby-draw-tit">
        <img src="/images/index/Title.png" alt="">
    </div>
    <div class="draw-con">
        <ul id="draw-con-ul">

            <li class="draw-li-bg">
                <img src="<%= lotteryList[0].imgUrl %>" alt="">
                <p></p>
            </li>
            <li class="draw-li-bg">
                <img src="<%= lotteryList[1].imgUrl %>" alt="">
                <p></p>
            </li>
            <li class="draw-li-bg">
                <img src="<%= lotteryList[2].imgUrl %>" alt="">
                <p></p>
            </li>
            <li class="draw-li-bg">
                <img src="<%= lotteryList[3].imgUrl %>" alt="">
                <p></p>
            </li>
            <li class="draw-li-bg">
                <img src="<%= lotteryList[11].imgUrl %>" alt="">
                <p></p>
            </li>
            <li class="draw-li-bg draw-click" title="开始抽奖">
                <div class="luck-draw_btn1">
                    <a href="javascript:;" onclick="isChangeN()"><img id="luck-draw_btn1" src="/images/luckydraw/luck-draw_btn.png" alt=""></a>
                </div>
            </li>
            <li class="draw-li-bg">
                <img src="<%= lotteryList[4].imgUrl %>" alt="">
                <p></p>
            </li>
            <li class="draw-li-bg">
                <img src="<%= lotteryList[10].imgUrl %>" alt="">
                <p></p>
            </li>
            <li class="draw-li-bg draw-click" title="继续抽奖">
                <div class="luck-draw_btn2">
                    <a id="luck-draw_btn2" href="/game/start"><img src="/images/luckydraw/Go-on.png" alt=""></a>
                </div>
            </li>
            <li class="draw-li-bg">
                <img src="<%= lotteryList[5].imgUrl %>" alt="">
                <p></p>
            </li>
            <li class="draw-li-bg">
                <img src="<%= lotteryList[9].imgUrl %>" alt="">
                <p></p>
            </li>
            <li class="draw-li-bg">
                <img src="<%= lotteryList[8].imgUrl %>" alt="">
                <p></p>
            </li>
            <li class="draw-li-bg">
                <img src="<%= lotteryList[7].imgUrl %>" alt="">
                <p></p>
            </li>
            <li class="draw-li-bg">
                <img src="<%= lotteryList[6].imgUrl %>" alt="">
                <p></p>
            </li>
        </ul>
        <div class="clear"></div>
    </div>

    <div class="draw-list">
        <div class="draw-list-con">
            <div class="draw-list-tit">中奖纪录</div>
            <div class="list-line"></div>
            <div id="marquee" style=" line-height: 25px;">
                <div class="drawList" id="marquee1">
                    <% drawList.forEach(function(draw){ %>
                    <ul class="list-ul2">
                        <li class="list-w-50"><%= draw.userName %></li>
                        <li class="list-w-50 list-prize"><%= draw.lttrNm %></li>
                    </ul>
                    <% }) %>
                </div>
                <div class="drawList" id="marquee2"></div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>

    <!--谢谢参与  start-->
    <div class="draw-msg-box" id="drawThank">
        <div class="draw-msg">
            <div class="draw-msg-tit">
                <img src="/images/luckydraw/Top-decoration_thanks.png" alt="">
            </div>
            <div class="draw-msg-img">
                <img src="/images/luckydraw/no-draw.jpg" alt="">
            </div>
            <div class="draw-msg-con center">
                <p>心若在梦就在，天地间还有真爱</p>
                <p>看成败人生豪迈，只不过</p>
            </div>
            <div class="draw-msg-btn">
                <a href="javascript:;" onclick="backHome()"><img src="/images/luckydraw/Again-from-the-beginning.png" alt=""></a>
            </div>
        </div>
    </div>
    <!--谢谢参与  end-->

    <!--抽中奖品  start-->
    <div class="draw-msg-box" id="drawInfo">
        <div class="draw-msg">
            <div class="draw-msg-tit">
                <img src="/images/luckydraw/Top-decoration.png" alt="">
            </div>
            <div class="draw-msg-input">
                <input type="text" name="userName" id="userName" placeholder="请输入姓名">
                <input type="tel" name="mp" id="mp" placeholder="请输入您的领奖手机号">
                <input type="hidden" name="lttrCd" id="lttrCd" value="">
                <input type="hidden" name="lttrNm" id="lttrNm" value="">
                <input type="hidden" name="type" id="type" value="0">
                <textarea name="address" id="address" cols="30" rows="10" placeholder="请输入您的领奖地址"></textarea>
            </div>
            <div class="draw-msg-con-sm">
                <p>声明：</p>
                <p>1、“爱版易”全程保护您的隐私绝不外泄；</p>
                <p>2、信息输入不全会导致您无法及时收到奖励，填写后请务必核对；</p>
                <p>3、“爱版易”微信公众号收到您的截屏并核对信息后才会发奖；</p>
                <p>4、该活动解释权归“爱版易”官方所有。</p>
            </div>
            <div class="draw-msg-btn">
                <a href="javascript:;" onclick="subLogs()"><img src="/images/luckydraw/Submit_btn.png" alt=""></a>
            </div>
        </div>
    </div>
    <!--抽中奖品  end-->

    <!--抽中奖品兑换码  start-->
    <div class="draw-msg-box" id="drawCDkey">
        <div class="draw-msg">
            <div class="draw-msg-tit">
                <img src="/images/luckydraw/Top-decoration.png" alt="">
            </div>
            <div class="draw-msg-con-dh">
                <p class="center"><span class="fc1">兑换码：</span><br>
                    <span class="fc2" id="cdKey">10010</span></p>
                <p>请截屏并发到“爱版易”公众号兑奖，兑奖需要您留手机号，所留手机号仅用于活动奖，我们承诺绝不将您的联系方式泄露给第三方。</p>
            </div>
            <p class="draw-msg-prize">
                恭喜您获得了<span id="draw-msg-prize">******</span>
            </p>
            <div class="draw-msg-img">
                <img id="draw-msg-img" src="/images/publicNumber.jpg" alt="">
            </div>
            <div class="draw-msg-btn">
                <a href="/game/start"><img src="/images/luckydraw/Again.png" alt=""></a>
            </div>
        </div>
    </div>
    <!--抽中奖品兑换码  end-->


    <!--提示分享  start-->
    <div class="draw-msg-box" id="drawShare">
        <div class="shareImg">
            <img src="/images/luckydraw/Brow_icon.png" alt="">
        </div>
        <!--<div class="goLuckyDraw">-->
            <!--<a href="javascript:;" onclick="goLuckyDraw()"><img src="/images/luckydraw/lottery_btn.png" alt=""></a>-->
        <!--</div>-->
    </div>
    <!--提示分享  end-->
</div>
<style>
    #marquee{line-height: 20px;margin:0}
</style>
<script>
    var openDraw = false;
    var lotteryListString = <%-lotteryListString%>;
    //判断阶段
    if(lotteryListString){
        var timeVal = 1;
        var drawList = $('#draw-con-ul li');
        var iIndex=0;
        var drawArr = [0, 1, 2, 3, 6, 9, 13, 12, 11, 10, 7, 4];//抽奖效果奖品路线
        var intervalTimer = setInterval(function(){
            if(iIndex<lotteryListString.length){
                if(!lotteryListString[iIndex].drawStatus){
                    $(drawList[drawArr[iIndex]]).find('p').html('小于<%=totalTimes%>秒');
                    $(drawList[drawArr[iIndex]]).find('p').addClass('draw-def');
                }
            }else{
                openDraw = true;
                clearInterval(intervalTimer);
            }
            iIndex++;
        },200)
    }
    var drawIndex = 0;
    var timeIndex = 1;
    var drawArr = [0, 1, 2, 3, 6, 9, 13, 12, 11, 10, 7, 4];//抽奖效果奖品路线
    var drawList = $('#draw-con-ul li');
    var luckyStop = 0;      //抽中奖品位置index
    var drawOn = 0;         //抽中奖品停止数值
    var subNum = false;     //限制中奖几率提交次数

    //判断次数
    function isChangeN(){
        if(openDraw){
            luckyStop = 0;
            drawOn = 0;
            drawIndex = 0;
            openDraw = false;
            $.ajax({
                type:"GET",
                url:"/game/changeNum",
                data:{activityLogId: '<%= activityLogId %>'},
                success:function(data){
                    data = JSON.parse(data);
                    if(data){
                        var changeN = data.changeN;
                        if(changeN == 0){
                            luckydraw();
                        }else if(changeN == 1 && data.shareN){
                            //第二次抽奖
                            luckydraw();
                        }else if(changeN == 1 && !data.shareN){
                            $('#drawShare').show();
                            setInterval(function(){
                                $('#drawShare').hide();
                            },3000)
                        }else if(changeN > 1){
                            alert('您已经没有抽奖机会啦！！！');
                        }
                    }else{
                        alert('您已经没有抽奖机会啦！！！');
                    }
                }
            });
        }else{
            $('#drawShare').show();
            setInterval(function(){
                $('#drawShare').hide();
            },3000)
        }

    }


    //抽奖方法
    function luckydraw() {
        $("#luck-draw_btn2").attr('href',"javascript:;")
        timeIndex = 1;
            $.ajax({
                type: 'POST',
                url: '/game/luckyStop',
                success: function (data) {
                    //处理中奖奖品位置，顺时针0-11
                    luckyStop = data;
                    switch (luckyStop.drawStop) {
                        case 0:
                            drawOn = 272;       //0
                            break;
                        case 1:
                            drawOn = 282;       //1
                            break;
                        case 2:
                            drawOn = 292;       //2
                            break;
                        case 3:
                            drawOn = 302;       //3
                            break;
                        case 4:
                            drawOn = 312;       //4
                            break;
                        case 5:
                            drawOn = 322;       //5
                            break;
                        case 6:
                            drawOn = 332;       //6
                            break;
                        case 7:
                            drawOn = 342;       //7
                            break;
                        case 8:
                            drawOn = 352;       //8
                            break;
                        case 9:
                            drawOn = 362;      //9
                            break;
                        case 10:
                            drawOn = 372;      //10
                            break;
                        case 11:
                            drawOn = 382;      //11
                            break;
                        case 12:
                            drawOn = 392;      //12
                            break   ;
                        default:
                            drawOn = 382;         //10
                            break;
                    }
                    eachDraw(luckyStop);
                }
            });

    }


    //抽奖过程
    function eachDraw(drawStop){
        timeIndex+=10;
        if(timeIndex<drawOn){
            setTimeout(function(){
                if(drawIndex == 13){
                    drawIndex = 0;
                }
                $(drawList[drawArr[drawIndex]]).find('p').addClass('draw-default');
                $(drawList[drawArr[drawIndex]]).siblings().find('p').removeClass('draw-default');
                eachDraw(drawStop);
                drawIndex ++;
            },timeIndex);
        }else{
            setTimeout(function(){
                openDraw = true;
                $("#luck-draw_btn2").attr('href',"/game/start");
                $("#luck-draw_btn1").attr("src","/images/luckydraw/Again_btn.png");
                //抽奖过程结束
                if(drawStop){
                    //更改抽奖次数
                    $.ajax({
                        type:"POST",
                        url:"/game/changeNum",
                        data:{activityLogId:'<%= activityLogId %>'},
                        success: function (data) {
                        }
                    });

                    if(drawStop.code == "Z9999" || drawStop.code == "Z9998" || drawStop.code == "Z9997" || drawStop.code == ""){
                        //谢谢参与
//                        $("#drawThank").show();
                    }else{
                        //填写手机号
                        subNum = true;
                        $("#drawInfo").show();
                        $("#lttrCd").val(drawStop.code);
                        $("#lttrNm").val(drawStop.name);
                        $("#type").val(drawStop.type);
                        $("#draw-msg-prize").html(drawStop.name);
                    }
                }
            },2000);
        }
    }



    //谢谢参与提示框 需判断是第一个抽奖还是第二次抽奖，第一次抽奖点击“从头再来”返回当前页，第二次抽奖点击“从头再来”返回活动首页
    function backHome(){
        $.ajax({
            type:"GET",
            url:"/game/changeNum",
            data:{activityLogId: '<%= activityLogId %>'},
            success:function(data){
                data = JSON.parse(data);
                var changeN = data.changeN;
                if(changeN == 0 || changeN == 1){
                    $("#drawThank").hide()
                }else{
                    window.location.href = '/game/start';
                }
            }
        });
    }

    //抽中奖品收集手机号和收货地址
    function subLogs(){
        if(subNum){
            if($("#userName").val() == "" || $("#mp").val() == "" || $("#address").val() == ""){
                alert("请输入手机号和收货地址");
            }else {
                //存储中奖纪录信息
                var data = {};
                data.userName = $("#userName").val();
                data.mp = $("#mp").val();
                data.address = $("#address").val();
                data.actCd = "WX00002";
                data.lttrCd = $("#lttrCd").val();
                data.lttrNm =  $("#lttrNm").val();
                data.type =  $("#type").val();
                data.crdt = new Date().getTime();
                $.ajax({
                    type:"POST",
                    url:"/game/addlog",
                    data:data,
                    success:function(data){
                        subNum = false;
                        $("#drawInfo").hide();
                        $("#cdKey").html(data._id);
                        //显示兑换码弹层
                        $("#drawCDkey").show();
                    }
                });
            }
        }

    }

    //微信配置数据
    var signatureMap = '<%= signatureMap%>';
    var timest = <%= signatureMap.timestamp%>;

    //微信配置
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<%= signatureMap.appId%>', // 必填，公众号的唯一标识
        timestamp:timest , // 必填，生成签名的时间戳
        nonceStr: '<%= signatureMap.noncestr%>', // 必填，生成签名的随机串
        signature: '<%= signatureMap.signature%>',// 必填，签名，见附录1
        jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'hideMenuItems'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function(){
        wx.onMenuShareTimeline({
            title: '我离iPhone 6s只有一步之遥了', // 分享标题
            link: 'http://c.ibanyi.com/', // 分享链接
            imgUrl: '/images/share.png', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                activityLogId = JSON.parse(localStorage.getItem("activityLog"))._id;
                $.ajax({
                    type:"POST",
                    url:"/game/share",
                    data:{activityLogId: activityLogId},
                    success:function(data){
                        openDraw = true;
                        $('#drawShare').hide();
                        setInterval(function(){
                            $('#drawShare').hide();
                        },3000)
                    }
                });
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareAppMessage({
            title: '我离iPhone 6s只有一步之遥了', // 分享标题
            link: 'http://c.ibanyi.com/', // 分享链接
            imgUrl: '/images/share.png', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                activityLogId = JSON.parse(localStorage.getItem("activityLog"))._id;
                $.ajax({
                    type:"POST",
                    url:"/game/share",
                    data:{activityLogId: activityLogId},
                    success:function(data){
                        openDraw = true;
                        $('#drawShare').hide();
                        setInterval(function(){
                            $('#drawShare').hide();
                        },3000)
                    }
                });
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    })


    //中奖纪录滚动效果
    var marquee = document.getElementById("marquee");
    var marquee1 = document.getElementById("marquee1");
    var marquee2 = document.getElementById("marquee2");
    var speed=50;    //滚动速度值，值越大速度越慢
    var nnn=200/marquee1.offsetHeight;
    for(i=0;i<nnn;i++){marquee1.innerHTML+="<br />"+ marquee1.innerHTML}
    marquee2.innerHTML = marquee1.innerHTML    //克隆www_zzjs_net_2为www_zzjs_net_1
    function marqueeTop(){
        if(marquee2.offsetTop-marquee.scrollTop<=0)    //当滚动至www_zzjs_net_1与www_zzjs_net_2交界时
            marquee.scrollTop-=marquee1.offsetHeight    //wwwzzjsnet跳到最顶端
        else{
            marquee.scrollTop++     //如果是横向的 将 所有的 height top 改成 width left
        }
    }
    var MyMar = setInterval(marqueeTop,speed);        //设置定时器
    marquee.onmouseover = function(){clearInterval(MyMar)}    //鼠标经过时清除定时器达到滚动停止的目的
    marquee.onmouseout = function(){MyMar = setInterval(marqueeTop,speed)}    //鼠标移开时重设定时器
//    $(function(){
//        var marqueeH = $('#marquee ul').children * 20;
//        var marquee = document.getElementById('marquee');
//        var marqueeH = 20 * 20;
//        marquee.style.height = marqueeH+'px';
//        var offset=0;
//        var scrollheight =marquee.offsetHeight;
//        var firstNode = marquee.children[0].cloneNode(true);
//        marquee.appendChild(firstNode);
//        setInterval(function(){
//            if(offset == scrollheight){
//                offset = 0;
//            }
//            marquee.style.marginTop = "-"+offset+"px";
//            offset += 1;
//        },50);
//    });

    //去抽奖
    function goLuckyDraw(){
        var activityLog = JSON.parse(localStorage.getItem('activityLog'));
        var activityLogId = activityLog._id;
        var totalTimes = activityLog.time;
        window.location.href = '/game/luckydraw?activityLogId='+activityLogId;
    }
</script>
<%- include('footer') %>
