<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" />
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/touch.css" />
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />


</head>
<body>
<div class="iby-start">
    <div class="iby-start-tit" id="iby-start-tit">你离Iphone只差一步</div>
    <!--<center class="starter" id="resetbtn" style="display:none">-->
        <!--<input type='button'  value='重置' id='reset'/>-->
    <!--</center>-->
    <section id='container' class="one_pic">
    </section>

    <form method="get" name="timefrm">
        <input type="hidden" name="activityLogId" value="0">
    </form>
    <div class="iby-time" id="iby-time">
        <span id="times"></span>
    </div>
    <div class="iby-msg-con" id="iby-start-btn">
        <center class="starter" id="startbtn"><input type='button'  value='开始' id='start'/></center>
    </div>
    <div class="iby-msg-con hide" id="iby-share-btn">
        <div class="shareImg">
            <img src="/images/luckydraw/Brow_icon.png" alt="">

        </div>
        <!--<div class="goLuckyDraw">-->
            <!--<a href="javascript:;" onclick="goLuckyDraw()"><img src="/images/luckydraw/lottery_btn.png" alt=""></a>-->
        <!--</div>-->
    </div>
    <div class="iby-msg-con" id="msg">
        <div class="iby-msg-1">拼图完成</div>
        <div class="iby-msg-2" id="iby-msg-2"></div>
        <div class="iby-msg-3">
            <div class="iby-msg-3-l">
                <p>
                    <a href="javascript:;" onclick="shareTimeline()"><img src="/images/luckydraw/share_btn.png" alt=""></a>
                </p>
                <p>
                    <a href=""><img src="/images/luckydraw/share_2_btn.png" alt=""></a>
                </p>
            </div>
            <div class="iby-msg-3-r">
                <p>
                    <a href="javascript:;" onclick="NextStep()"><img src="/images/luckydraw/lottery_btn.png" alt=""></a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script src="/js/pintu.js" type="text/javascript"></script>
<script src="/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script src="/js/zepto.min.js" type="text/javascript"></script>
<script>
    //拼图计时
    var se;
    var m=0;
    var s=0;
    var ss=1;
    var bgimg = '/images/index/game400.jpg';    //拼图图片地址
    function second(){
        if (ss%5==0)
        {
            s++;
        }
        if(s>0 && (s%60)==0){
            m+=1;s=0;
        }
        document.getElementById("times").innerHTML = toDou(m)+":"+toDou(s);
        ss++;
    }

    function toDou(timeNum){
        if(timeNum < 10){
            return '0'+timeNum;
        }else{
            return timeNum;
        }
    }

    function cleartime(){
        m=0;
        s=0;
        ss=1;
    }

    //抽奖去鸟
    function NextStep(){
        var activityLog = JSON.parse(localStorage.getItem("activityLog"));
        var gameTime = s+ (m * 60);
        if(activityLog){
            if(gameTime < activityLog.time){
                var data = activityLog;
                data.time = gameTime;
                setLog(data);
            }
            document.timefrm.action="/game/luckydraw";
            document.timefrm.activityLogId.value = activityLog._id;
            document.timefrm.submit();
        }else{
            var data = {time: gameTime, changeN:0, actCd: "WX00002",shareN: false};
            setLog(data);
        }


    }

    //设置或更新拼图记录
    function setLog(logData){
        $.ajax({
            type: 'POST',
            url: '/game/log',
            data: JSON.stringify(logData),
            contentType:'application/json',
            success: function (data) {
                localStorage.setItem('activityLog', JSON.stringify(data));
                document.timefrm.action="/game/luckydraw";
                document.timefrm.activityLogId.value = data._id;
                document.timefrm.submit();
            }
        });
    }

    second();
    var gamenum = 1;
    var  t=new Game(2,2);//行与列,值越大,难度越高

    //拼图开始
    document.getElementById('start').onclick=function(){
        document.getElementById('start').style.display = "none";
        document.getElementById('iby-start-btn').style.display = "none";
        t.startGame();
        se=setInterval("second()",200);

        //重置抽奖次数
        var activityLog = JSON.parse(localStorage.getItem("activityLog"));
        if(activityLog){
            activityLog.changeN = 0;
            activityLog.shareN = false;
            $.ajax({
                type: 'POST',
                url: '/game/log',
                data: JSON.stringify(activityLog),
                contentType:'application/json',
                success: function (data) {
                    localStorage.setItem('activityLog', JSON.stringify(data));
                }
            });
        }
    }

    //拼图成功方法
    Game.prototype.tips=function(){
        var totalTime = s+(m*60);
        document.getElementById("msg").style.display="block";
        document.getElementById("iby-start-tit").style.display = 'none';
        document.getElementById("iby-msg-2").innerHTML = totalTime+'秒';

        document.getElementById("iby-time").style.display = 'none';
        var shareTitle = '萌猴拼图，我竟然只用了'+totalTime+'秒，猴赛雷！';
        //重新设置微信分享标题
        wx.onMenuShareTimeline({
            title: shareTitle, // 分享标题
            success: function () {
                //微信分享成功回调
                wxSuccess();
            },
            cancel: function () {
                //微信分享取消回调
                wxCancel();
            }
        })

    };

    var imgUrl = "/images/index/game400.jpg";

    //微信配置数据
    var signatureMap = '<%= signatureMap%>';
    var timest = <%= signatureMap.timestamp%>;

    //微信配置
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<%= signatureMap.appId%>', // 必填，公众号的唯一标识
        timestamp:timest , // 必填，生成签名的时间戳
        nonceStr: '<%= signatureMap.noncestr%>', // 必填，生成签名的随机串
        signature: '<%= signatureMap.signature%>',// 必填，签名，见附录1
        jsApiList: [
            'onMenuShareTimeline'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });


    wx.ready(function(){
        var shareTitle = '萌猴拼图，我竟然只用了XXX秒，猴赛雷！';
        wx.onMenuShareTimeline({
            title: shareTitle, // 分享标题
            link: 'http://c.ibanyi.com/', // 分享链接
            imgUrl: '/images/share.png', // 分享图标
            success: function () {
                //微信分享成功回调
                wxSuccess();
            },
            cancel: function () {
                //微信分享取消回调
                wxCancel();
            }
        });
    })

    //微信分享成功回调
    function wxSuccess(){
        // 用户确认分享后执行的回调函数
        activityLogId = JSON.parse(localStorage.getItem('activityLog'))._id;
        console.info('activityLogId',activityLogId);
        $.ajax({
            type:"POST",
            url:"/game/share",
            data:{activityLogId: activityLogId},
            success:function(data){
                $('#iby-share-btn').hide();
                $('#msg').show();
            }
        });
    }
    //微信分享取消回调
    function wxCancel(){
        // 用户取消分享后执行的回调函数
        $('#iby-share-btn').hide();
        $('#msg').show();
    }

    //分享弹层提示
    function shareTimeline(){
        $('.iby-msg-con').hide();
        $('#iby-share-btn').show();
    }

    //去抽奖
    function goLuckyDraw(){
        var activityLog = JSON.parse(localStorage.getItem('activityLog'));
        var activityLogId = activityLog._id;
        var totalTimes = activityLog.time;
        window.location.href = '/game/luckydraw?activityLogId='+activityLogId;
    }
</script>
<%- include('cnzzLog') %>

